{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
        <header>
        <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center">
          <div class="item">
            <div class="s-12">
              <img src="{% static 'img/portfolio/background.jpg' %}" alt="">
              <div class="carousel-content">
                <div class="content-center-vertical line">
                  <div class="margin-top-bottom-80">
                    <!-- Title -->

             <div class="s-12 m-12 l-6">
                 <h2 style="background-color: #002633;width: 700px;">Track Delivery</h2>

                  <table class="table table-bordered table-striped table-hover" style="background-color: #002633;width: 700px;">

                                 <th class="success" style="color: white;">Customer Name</th>
                                 <th class="success" style="color: white;">Description</th>
                                 <th class="success" style="color: white;">Price</th>
                                 <th class="success" style="color: white;">Image</th>
                                 <th class="success" style="color: white;">Payment Status</th>
                                 <th class="success" style="color: white;">Delivery Status</th>




                                 {% for pr in ggg %}

                                <tr style="background-color: #002633;width: 700px;">
                                    <td>{{ pr.user.first_name}}</td>
                                    <td>{{ pr.photo.description}}</td>
                                    <td>{{ pr.photo.price}}</td>

                                    <td><img style="max-width: 200px;max-height:140px;" src="/media/{{ pr.photo.image}}"></td>
                                    <td>{{ pr.delivery}}</td>
                                    <td>{{ pr.payment}}</td>


{#                                    <td><button style="background-color:lightslategray"><a href="approvess?id={{ pr.photo.id}}" class=" btn btn-success" style="color:black">Approve</a></button></td>#}
{#                                   <td><button style="background-color:lightslategray"><a href="reject?id={{ pr.user_id}}" class=" btn btn-danger" style="color:black"></a></button></td>#}

                                </tr>



                              {% endfor %}
                            </table>
              </div>

                    <div class="s-12 m-10 l-8 center"><p class="text-white text-size-14 margin-bottom-40"></div>
                    <div class="line">
                      <div class="s-12 m-12 l-3 center">
                        <a class="button button-white-stroke s-12" href="/"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Section 4 -->

      <!-- Section 5 -->
{#   #}
    </main>

{% endblock %}

